[2013-11-27 14:28] ruslo opened #1 "travis linux config"

[2013-12-05 22:12] #1 closed, assigned to ruslo

[2014-02-25 11:07] ruslo opened #2 "verify sanitizers crash when issue was found"

[2014-07-04 01:41] ruslo opened #3 "Add other clang sanitizers"
- http://clang.llvm.org/docs/UsersManual.html#controlling-code-generation

[2014-08-09 17:23] ruslo opened #4 "Add gcc address sanitizer"

[2015-04-15 20:13] headupinclouds opened #5 ""minor" changes to build.py command require --clear"
I've noticed simple command line changes to build.py require rebuilding entirely due to the need for --clear on subsequent runs.  For example, after running

[code]

cleanly, I then realized I wanted to install the output, so I tried

[code]

But this seems to trigger the warning

[code]

Which forces a full (possibly very length) rebuild.  The same is true with adding --verbose.  I suppose this r

[2015-04-15 21:34] ruslo commented on #5
Yep, I hit this issue myself too. I have to think about fixing this nicely. Sometimes this feature save me from a lot of headache (which is result of CMake cache magic).

[2015-04-17 15:00] ruslo opened #6 "Support logging"

[2015-04-20 04:26] headupinclouds opened #7 "libcxx toolchain must not pass -stdlib=libc++ option to fortran"
Building Eigen using hunter:

[code]

results in a fortran related link error when using the libcxx toolchain.

I'm building from the command line with:

[code]

and end up with the following error.

[code]

There must be a way to avoid this inside libcxx.cmake, which currently specifies:

[code]

[2015-04-20 04:32] headupinclouds commented on #7
This is really due to mixing clang with gfortran:

http://stackoverflow.com/questions/24419832/unrecognized-command-line-option-stdlib-libc-with-macports-gcc48

[2015-04-20 14:37] ruslo commented on #7
This flags needed for Xcode. But looks like it's a bug of Xcode < 6 (4.6.3 and 5.1.1 tested) it works fine for Xcode 6.2. Please pull update from `develop` branch.

[2015-04-20 14:37] #7 closed

[2015-04-20 15:40] karthikeyanchenniappan opened #8 "Build failed while run with caffe framework"
I tried with ios-8-2.cmake tool chain against "https://github.com/BVLC/caffe" to bulid caffe lib_a,dylip for iOS. Generate Xcode project completed. While build the Xcode project i got the below error
"/Users/Macpro_ios_v2/caffe/src/caffe/common.cpp:1:10: 'glog/logging.h' file not found"
while cross compiling mac to iOS only i am getting this issue.
Environment: Xcode 6.2, iOS 8.2, CMake 3.2
Please

[2015-04-20 16:00] ruslo commented on #8
It's not a toolchain issue. Looks like you need to install third party library `glog`. Have you seen this project: https://github.com/ruslo/hunter?

[2015-04-20 16:28] headupinclouds commented on #8
I'm working on getting a cmake wrapped version of glog in hunter, but haven't yet tested it.

Here is the cmake (google-glog)[https://github.com/emzeat/google-glog] fork that package is using.

Here is an initial (google-glog)[https://github.com/headupinclouds/hunter/blob/master/cmake/projects/glog/hunter.cmake] recipe.  This seems to build on iOS, but I haven't yet tested it.  Once that is workin

[2015-04-20 17:14] ruslo commented on #8
It's not a glog only: http://caffe.berkeleyvision.org/installation.html

Also:
* cuda (does it working on iOS in general?)
* protobuf
* glog
* gflags
* hdf5
* leveldb
* snappy
* lmdb

opened issue:  https://github.com/ruslo/hunter/issues/80

[2015-04-20 17:25] ruslo commented on #8
Anyway, I'm closing this since it's not a toolchain issue. This issue about 3rd party management. @karthikeyanchenniappan please subscribe to this bug: https://github.com/ruslo/hunter/issues/79 if you're interested

[2015-04-20 17:25] #8 closed

[2015-04-21 05:24] karthikeyanchenniappan commented on #8
@ruslo ,@headupinclouds thanks for your update. Just for your info , i have installed below items on my MAC 10.10 through brew install , it works on caffe build for MAC OS X but throws  the above error for iOS only.
Installed locations for the below items are
/usr/local/include
/opt/local/include

cuda (does it working on iOS in general?)
protobuf
glog
gflags
hdf5
leveldb
snappy
lmdb

[2015-04-21 06:10] ruslo commented on #8
@karthikeyanchenniappan if library is not header only it will not work for iOS, you need to build it from source

[2015-04-21 13:59] ruslo commented on #6
Fixed in branch `develop`. Always save log to 'log.txt'. If option '--verbose' is set print to console too.

[2015-04-21 13:59] #6 closed

[2015-04-21 14:07] ruslo commented on #5
Fixed in branch 'develop'. List of variables ignored by checking:
* `CMAKE_VERBOSE_MAKEFILE`
* `POLLY_STATUS_DEBUG`
* `HUNTER_STATUS_DEBUG`
* `CMAKE_INSTALL_PREFIX`

[2015-04-21 14:07] #5 closed

[2015-04-27 09:27] ruslo opened #9 "Pack iOS framework"
Since framework linking broken in CMake for iOS (same reason as [install](http://public.kitware.com/Bug/view.php?id=12506)) extra `--pack` option might be helpful. Something like OpenCV do: https://github.com/ruslo/opencv/blob/e169083fedae5b672660006ea12a2818eb28f02a/platforms/ios/build_framework.py#L60

[2015-05-04 15:44] headupinclouds opened #10 "Add android toolchains"
https://code.google.com/p/android-cmake/

[2015-05-04 16:35] headupinclouds commented on #10
Initial android-cmake toolchain pushed to polly/android branch as-is to get things going.

[2015-05-04 16:37] ruslo commented on #10
Thanks, merged https://github.com/ruslo/polly/commit/e670b4c229ab50be9053c27bcbcc786e1cc8e291

[2015-05-04 16:42] ruslo commented on #10
OpenCV Android toolchain: https://github.com/Itseez/opencv/blob/master/platforms/android/android.toolchain.cmake

[2015-05-04 17:57] headupinclouds commented on #10
After looking at the diff, that seems to be a better starting point.  I'll
move the other one aside to serve as a reference and add the latest android
toolchain from OpenCV.  It appears to be identical but with a few small
updates.

[code]

On Mon, May 4, 2015 at 12:42 PM, Ruslan Baratov <notifications@github.com>
wrote:

[2015-05-17 14:54] ruslo commented on #10
https://github.com/taka-no-me/android-cmake

[2015-05-18 17:22] ruslo commented on #10
CMake target properties:
* [ANDROID_GUI](http://www.cmake.org/cmake/help/v3.2/prop_tgt/ANDROID_GUI.html)
* [ANDROID_API_MIN](http://www.cmake.org/cmake/help/v3.2/prop_tgt/ANDROID_API_MIN.html)
* [ANDROID_API](http://www.cmake.org/cmake/help/v3.2/prop_tgt/ANDROID_API.html)

[2015-05-18 18:34] ruslo commented on #10
Hello world sample: https://github.com/Discordia/android-cmake/tree/master/samples/hello-android-cmake

[2015-05-18 18:40] ruslo commented on #10
one more example: https://github.com/Discordia/android-cmake-example

[2015-05-23 23:39] pretyman commented on #10
Merge f930e1068083707533d55daed5f8f97a655585ff allows the toolchain to be used with hunter.

However there are still a few bits missing for the toolchain file in general:
Once the STL implementation is chosen, its lib directory is not added to the ANDROID_LINKER_FLAGS nor the linking flags to link to the library.

I updated on my repo a fix for this: f85df73ee55e2459f0219f84b837863c8797fee3 by cre

[2015-05-27 12:05] ruslo commented on #10
I've removed `Android*.cmake` from Polly (https://github.com/ruslo/polly/commit/31dcb9d3b41d482c174cd1881c76daff960050ad) since it's not toolchain related stuff.

Can be used by Hunter: https://github.com/ruslo/hunter/wiki/pkg.android.modules

[2015-05-27 12:26] ruslo commented on #10
@headupinclouds https://github.com/ruslo/polly/commit/f89ebf3142a9cba6418fdc619833130abd1fcb6e I think https://github.com/taka-no-me/android-cmake is the original repo so probably version from OpenCV is older. So I guess we can move `android.toolchain.cmake.origin` back and remove `android.toolchain.cmake` (?)

[2015-05-27 12:40] ruslo opened #15 "Add autocomplete"
http://stackoverflow.com/questions/7821661/how-to-code-autocompletion-in-python

[2015-05-27 12:42] headupinclouds commented on #10
@ruslo  Agreed.  It looks like the taka-no-me repository is actively being updated ("authored 10 days ago").  I like the idea of using this one, since it will probably be easier to push and pull changes from upstream as needed.

[2015-05-27 13:25] ruslo commented on #10
I've added `android-ndk-r10e` toolchain: https://github.com/ruslo/polly/wiki/Toolchain-list#android-ndk-xxx

Switch between different `ndk` versions was made similar to [iOS](https://github.com/ruslo/polly/wiki/Toolchain-list#ios) way. You can set different `ANDROID_NDK_xxx` environment variables and `build.py` will pick the right version and add `ANDROID_NDK` CMake variable.

Simple examples comp

[2015-05-27 14:18] pretyman commented on #10
Guys, if you are going to revert to that toolchain, please be sure that it sets CMAKE_AR CMAKE_ANDROID_API

And be aware that CMAKE_FORCE_C_COMPILER( "${CMAKE_C_COMPILER}" GNU ) sets the forced compiler which makes hunter fail.

[2015-05-27 14:19] ruslo commented on #10
I'm planning to cherry-pick your changes

[2015-05-27 18:15] pretyman commented on #10
Sorry, I didn't mean CMAKE_AR, make sure it sets *CMAKE_C_PROCESSOR* is what I meant - sorry, I wrote it in a hurry.

Anyway, as discussed in https://github.com/ruslo/polly/pull/16#issuecomment-105929330 it makes sense that these changes go to upstream and be reviewed by people who have been maintaining this file longer.

[2015-05-27 18:37] pretyman commented on #10
This has been taken care of with the following pull request: https://github.com/taka-no-me/android-cmake/pull/53

[2015-06-01 23:20] ruslo commented on #10
Usage example: https://github.com/forexample/android-cmake

[2015-06-02 18:42] ruslo commented on #10
Well, looks like there is no need to create APK to run executable on device. It's possible to create simple console application and run it using `adb shell`. So it's easy to orginize testing with CMake's `add_test`:
* New function [android_add_test](https://github.com/hunter-packages/android-apk/commit/7577b236b6c547f03e3218d8a539bcc9f9b8550e) in [Android-Apk](https://github.com/ruslo/hunter/wiki/

[2015-06-11 21:16] headupinclouds opened #19 "feature: report build times when using build.py (clock & cpu)"

[2015-06-16 22:16] headupinclouds opened #20 "Discussion: CLI flexibility to reduce exponential toolchain file explosion"
I've started adding a number of toolchains I need to support based on combinations of : ANDROID_TOOLCHAIN_NAME + ANDROID_NATIVE_API_LEVEL + ANDROID_ABI + etc.  There are similar combinations for *nix platforms and ios.  This seems headed for an explosion of *.cmake toolchains in the ${POLLY_ROOT} directory.  I'm wondering if it would make sense to extend to build.py command line options to provide

[2015-06-17 07:44] ruslo commented on #20
For now I think about it as "add what you use". So it's limited by common sense. I guess nobody use 25000 toolchains produces by (21 versions of NDK) x (10 ABI) x (15 API) x (8 STL).

Probably we can automatically generate top `*.cmake` files from python code: https://github.com/ruslo/polly/blob/master/bin/detail/toolchain_table.py

Some thoughts I have:

* autocomplete feature: https://github.com

[2015-06-18 11:34] ruslo commented on #9
Option `--framework` added. See simple example: https://github.com/forexample/cmake-osx-framework

[2015-06-18 11:34] #9 closed

[2015-06-19 13:36] ruslo opened #22 "Adding `--install` must update cache"

[2015-06-21 14:22] #10 closed

[2015-06-21 15:01] ruslo commented on #22
Now option `--reconfigure` can be used to run regenerate if some arguments change.

[2015-06-21 15:01] #22 closed

[2015-06-27 04:05] headupinclouds opened #24 "latest xcode toolchain projects lack Debug configuration"
I recently updated polly and noticed I no longer have Debug configurations available in Xcode projects generated with the "xcode" toolchain.  I've tried both "--config Debug" and  "--config Release" as well as leaving  the "--config" option empty.  The only option I available in the application schemes for the Xcode targets is Release.

I'm building all the Hunter packages in release mode, but tha

[2015-06-27 06:16] headupinclouds commented on #24
This was a CMakeLists.txt error.  Polly is working perfectly.

[2015-06-27 06:16] #24 closed

[2015-06-29 17:13] ruslo opened #25 "Test `build.py` is capable to produce AppStore friendly framework"

[2015-06-30 17:16] headupinclouds opened #26 "--framework with *.a and *.dylib in _install/<toolchain>/lib complains"
I changed configurations and ended up with a *.a and *.dylib in my _install/<toolchain>/lib/ folder.  The build.py --framework option complained about multiple libs.  This was with commit: a9443b498798a6e1158ddb0bf1ede1778a5213f6 .  This isn't exactly as bug...  (How should it know which type of lib to use?)  It is easy enough to delete one and then re-run, but possibly an additional option is req

[2015-07-02 17:30] headupinclouds opened #27 "osx => linux cross compilation (via llvm)"
https://github.com/tpoechtrager/osxcross

This looks interesting, and given my iOS needs I typically use an OS X host.  This could help add linux platforms in the same built step.  I just stumbled on this so I'm making a note for future reference.

[2015-07-02 20:18] ruslo commented on #26
Yes. There are several questions I guess:
* if `*.a` and `*.dylib` installed what type of framework you want to build? Static or dynamic?
* if multiple libraries found do you want to use one or combine all of them into one big library?
* if multiple libraries found what framework name should we use?

[2015-07-12 07:31] ruslo opened #31 "Generate CMake toolchains from Python code"
Use toolchains table from https://github.com/ruslo/polly/blob/master/bin/detail/toolchain_table.py to generate actual CMake code:
* Generate name of the toolchain file
* Generate human-readable toolchain name
* Include CMake modules automatically
* ...

[2015-07-12 07:31] ruslo commented on #20
https://github.com/ruslo/polly/issues/31

[2015-07-15 19:23] ruslo commented on #31
Add HUNTER_TOOLCHAIN_UNDETECTABLE_ID automatically
\

[2015-07-16 15:57] oliverdaniell opened #32 "Using clang-analyze in Hunter build"
Should the clang-analyze script should continue to rebuild with clang after reporting warnings for a library using clang analyze?

I've attached my console log for a build which uses opencv, the build exits after opencv fails to build.

[code]

[2015-07-16 16:43] ruslo commented on #19
Fixed. Example of output:
[code]

[2015-07-16 16:43] #19 closed

[2015-07-16 16:56] ruslo commented on #32
It designed so it will stop the build with the error. The idea was to have additional toolchain in CI testing (like Travis) so one of the jobs report an error if any warning found. Then you explicitly mark the warning as ignored or fix it, and retrigger build again until you have greeny success status.

Quite the same happens if you use this toolchain in Hunter. Every package build such way, hence

[2015-07-16 19:54] oliverdaniell commented on #32
Exactly this, I want to ignore the warnings from third parties and stop with an error on the package I am currently building

[2015-07-16 20:33] ruslo commented on #32
Okay. So the plan is to add some option/variable that can disable toolchain forwarding in Hunter. I'll think about it and let you know when it will be fixed.

As a workaround you can include `analyze.cmake` file with compiler settings manually without updating `CMAKE_TOOLCHAIN_FILE` value. Just set it **after** command `project`:

[code]

If you're using `build.py` script pick for the `--toolchain

[2015-07-17 08:18] oliverdaniell commented on #32
Thanks, this solves if for now!

[2015-07-30 16:54] headupinclouds opened #37 "Proposal: --framework 'identity'"
I'd like to add an optional identity parameter for --framework option code signing.  If no argument is specified it can default to 'iPhone Developer' for backwards compatibility, but this can get in the way of distribution.

https://github.com/ruslo/polly/blob/master/bin/detail/create_framework.py#L132

@ruslo: You implemented this feature, so I wanted to check with you before adding.

[code]

[2015-07-30 17:00] headupinclouds opened #38 "Proposal: --info <info.plist> override as modifier for --framework option"
Allow project specific override of polly/scripts/Info.plist. This will allow customization of CFBundleIdentifier and other parameters.

@ruslo: If this makes sense I can implement it and push.

https://github.com/ruslo/polly/blob/master/bin/detail/create_framework.py#L111
[code]

[2015-07-30 17:15] ruslo commented on #37
@headupinclouds I think it's okay.

[2015-07-30 17:19] ruslo commented on #38
It make sense from the point of view that we are doing workaround for non-working iOS frameworks creation. Just like in https://github.com/ruslo/polly/issues/37 note that `Info.plist` can be controlled by CMake variable `MACOSX_BUNDLE_INFO_PLIST` and identity by `CMAKE_XCODE_ATTRIBUTE_CODE_SIGN_IDENTITY`

[2015-07-30 17:39] headupinclouds commented on #38
Info.plist can be controlled by CMake variable MACOSX_BUNDLE_INFO_PLIST and
identity by CMAKE_XCODE_ATTRIBUTE_CODE_SIGN_IDENTITY

You mean *if* the CMake ios framework wasn't broken, Right? (I'm assuming
these variables won't have any effect on the current polly code.)

On Thu, Jul 30, 2015 at 1:19 PM, Ruslan Baratov <notifications@github.com>
wrote:

[2015-07-30 17:40] ruslo commented on #38
Yes, exactly.

[2015-07-31 19:43] headupinclouds commented on #38
pull request #40

[2015-07-31 19:43] headupinclouds commented on #37
pull request #40

[2015-07-31 20:03] headupinclouds commented on #27
I didn't read this carefully.  This supports the opposite direction: linux => OS X.

[2015-07-31 20:46] ruslo commented on #38
merged

[2015-07-31 20:46] #38 closed

[2015-07-31 20:47] ruslo commented on #37
merged

[2015-07-31 20:47] #37 closed

[2015-08-06 13:19] ruslo opened #43 "Android: support windows"

[2015-08-07 14:23] ruslo commented on #27
http://crossgcc.rts-software.org/doku.php?id=compiling_for_linux

[2015-08-07 15:12] ruslo commented on #27
https://github.com/rust-lang/rust/issues/16259

[2015-09-08 23:01] ruslo opened #45 "Add `--target` to pick a target to build"

[2015-09-17 15:16] #45 closed

[2015-11-02 18:35] ruslo commented on #15
https://github.com/kislyuk/argcomplete

[2015-11-05 15:48] skypjack opened #46 "ios-nocodesign* does not work but for IOS_SDK_VERSION 8.1"
The `ios-nocodesign*.cmake` files contain a statement that forces the variable `IOS_SDK_VERSION` to 8.1.
We tested them at least with `IOS_SDK_VERSION` 9.1 and they work fine, but there is no explicitly way other than manually modify those files to change that parameter.
Is it possible to let the user to dynamically change it or update those file with a newer sdk version?
In the latter case, we ca

[2015-11-06 08:41] ruslo commented on #46
Originally this toolchain was used for running jobs on Travis CI so I can skip developer's certificate installing step. Version should match the one that is set on Travis OSX machines.

You can create new one `ios-nocodesign-9-1` and send a pull request.

[2015-11-06 12:41] ruslo commented on #46
Closed by https://github.com/ruslo/polly/pull/47

[2015-11-06 12:41] #46 closed

[2015-11-21 16:59] ruslo opened #49 "Add .polly"
Use `~/.polly` and local `.polly` (do we need local?) to add some default user's arguments like `--jobs N` or `--fwd HUNTER_CONFIGURATION_TYPES=Release`. `.polly` can be ini-like file. E.g. say we have several devices:
* iPad with iOS 9.0
* iPhone with iOS 9.1
* HTC One with Android API 21
* Prestigio with Android API 19

`~/.polly` can contain:
[code]

Usage: `build.py --type htc` or `build.py --

[2015-11-23 21:26] headupinclouds opened #51 "Discussion: build.py output path override"
This is probably a rare use case, but...

If a hunter (or any CMake) project resides on a disk that is shared across different machines, then it is possible for the same toolchain (say libcxx) to be run multiple times, which could lead to collisions.  Currently, I don't think there is a way for a user to override the generated ${PROJECT}/_{install,build}/${TOOLCHAIN} paths.  It is easy enough to c

[2015-11-23 23:02] ruslo commented on #51
Well this may be a problem even for the one machine. In case user add `clang 3.4` in `PATH` and then changing it to `clang 3.5`. `libcxx` will pick up different compilers, this is a task for the Hunter toolchain-id calculation module.

What about adding `--toolchain-dir` option? Say `--toolchain libcxx --toolchain-dir libcxx-osx` and `--toolchain libcxx --toolchain libcxx-linux`?

[2015-11-24 00:03] headupinclouds commented on #51
That sounds good.  I think I can probably add that.

On Mon, Nov 23, 2015 at 6:03 PM, Ruslan Baratov <notifications@github.com>
wrote:

[2015-12-05 01:38] ruslo opened #55 "Test ccc-analyzer/c++-analyzer"
https://github.com/llvm-mirror/clang/tree/master/tools/scan-build/libexec

[2015-12-09 07:29] skypjack opened #56 "Android MIPS architecture missed"
The Android MIPS architecture is missed in the list of available toolchains.
Is there a particular reason, thus it doesn't worth it to try to add such a toolchain and send a pull request?
I need it as an user and I'd be glad to contribute to the project if needed.

Thank you.

[2015-12-09 07:32] ruslo commented on #56
No there are no reasons. Pull requests are welcome :)

[2015-12-09 07:38] skypjack commented on #56
It makes perfectly sense indeed. :-)
Ok, maybe I'll have a try during the day and I'll send the pull request.
I'd close the issue/discussion (I suggest to tag it) posting the pull request number, for further references.
Thank you for the response.

[2015-12-09 09:03] skypjack commented on #56
One more question: is the same valid for target armeabi?
If yes, I'm adding also that one with the next pull request or a separate one (as you prefer).

[2015-12-09 09:08] ruslo commented on #56
Yes.

Separate is always better if possible.

[2015-12-09 09:25] skypjack commented on #56
pull request for armeabi target - https://github.com/ruslo/polly/pull/57

[2015-12-09 10:12] skypjack commented on #56
pull request for mips/mips64 - https://github.com/ruslo/polly/pull/58

[2015-12-09 10:30] skypjack commented on #56
Thank you very much for the support and the patience.

[2015-12-09 10:30] #56 closed

[2015-12-18 16:27] skypjack opened #59 "Error debugging the generated .so library on Android"
While trying to debug a library compiled with Polly for Android, we are getting the following error:

The suggestion that comes along with the error is:

We are compiling the library in debug mode (CMAKE_BUILD_TYPE=Debug) and, as far as I see from the log of the compiler, the right flags are set (-O0 -g and so on).

It seems that gdbserver and gdb.setup are not created, thus it is not possible to

[2015-12-18 17:29] ruslo commented on #59
Hi,

I've got quite poor experience with debuggin Android. If you describe how it's happenning/what should be done/what expected I'll try to figure out how to fix it. I know that some `gdbserver` file located in `NDK`: https://github.com/ruslo/polly/blob/b763045f6e24475e9e33c5df7b58ba32c428f86c/os/android.cmake#L47

Also it can be copied while creating APK (separate module, not Polly): https://git

[2016-01-09 02:32] ruslo opened #61 "Test clang-tidy"
http://clang.llvm.org/extra/clang-tidy/

[2016-01-14 01:41] ruslo opened #62 "Non UTF8 console encoding"
When console encoding is not UTF8 (like Windows + non-English locale) then `build.py` script will throw exception UnicodeDecodeError.

Line to blame:
- https://github.com/ruslo/polly/blob/c343d0ad3fe7810c3482c84e2a8b1e8ce8685861/bin/detail/call.py#L17

Originally from:
- https://github.com/ruslo/hunter/issues/298

[2016-02-17 13:10] novocodev opened #66 "Setting public headers for Xcode framework target"
I have built the 02-library example for Xcode with the following command:

build.py --clear --toolchain xcode  --framework

This built a Framework, but it does not have any public headers in the framework Headers folder.

I added a public.h file to the example and added the following entry in the CMakeLists.txt

[code]
When building the public.h file is copied to '_install/xcode/lib/'

But the bui

[2016-02-17 13:23] ruslo commented on #66
Try to install headers to `include` directory. Explanation: this is workaround script which expect only one file in `lib` folder (which should be the `*.a` library) so when there are some other files script can't decide what file is a library.

Just for your information there are few fixes in latest CMake version that allow creating frameworks without hacks/workarounds (just using CMake). I haven'

[2016-02-22 21:06] novocodev commented on #66
Still using make 3.3

cmake_minimum_required(VERSION 3.3)

I added the FRAMEWORK property

[code]

Then I built using the following command

[code]

This created a Framework with 'public.h' in the Headers folder located at:

[code]

But this only appears to be a MAC OS X framework not a fat Framework, I ran the file command:

[code]

result was:

[code]

I also tried --toolchain ios-9-2 but the fr

[2016-02-23 02:05] ruslo commented on #66
This is by design. Fat library created only for iOS.

I will test latest CMake version with few improvements, may be will create an example.

[2016-02-24 06:36] ruslo commented on #66
Okay, I think I know what is the problem here. `--framework` option expect headers be located in directory `<install-prefix>/include/<frameworkname>`. I.e. if you have library `libfoo.dylib` installed, then headers should be located in `<install-prefix>/include/foo` and will be moved to `foo.framework/Headers`. The reason of this is that project which uses `foo` should do `#include <foo/*.hpp>` in

[2016-02-24 06:37] ruslo commented on #66
Example with framework and native Xcode project updated:
* https://github.com/forexample/ios-dynamic-framework#headers

[2016-02-27 23:11] pretyman opened #67 "Images in the Jenkins wiki are broken"
The Jenkin's page in the Wiki has all images with broken links: https://github.com/ruslo/polly/wiki/Jenkins

I tried to edit it and but the filenames of the images are hashed and I could not make anything of them.

[2016-02-28 03:59] ruslo commented on #67
Yep, looks like mediacru.sh service is dead...

Now I use github as a image hosting service: https://github.com/ruslo/polly/wiki/Jenkins

[2016-02-28 03:59] #67 closed

[2016-03-01 17:03] novocodev commented on #66
Great! I have successfully built and linked the ios-dynamic-framework project.

I did have to use patched CMake version, I tried with the latest 3.5.0-rc2 CMake but that failed to build the Fat framework bundle.

I'm going to try and replicate the project setup to my own library repo.

[2016-03-02 05:13] ruslo commented on #66
With CMake 3.5+ you have to use `CMAKE_IOS_INSTALL_COMBINED=YES` and `CMAKE_XCODE_ATTRIBUTE_ONLY_ACTIVE_ARCH=NO` and run install (no need to use `--framework`, now it's `--install`). However dynamic framework will not be signed properly so the last time I've tried it I failed to run bundle on real device.

[2016-03-02 13:46] novocodev commented on #66
I have replicated the demo project setup on my own repo, I did not copy over the custom jenkins.py as I am just trying to build a dynamic library component, I am calling build.py directly with:

[code]
The build is successful and the lib binary now reports as a Fat lib and the public header is copied over to the framework/Headers folder.

I have noticed that if I build with --config Debug, that 'd

[2016-03-03 02:55] ruslo commented on #66
Set it in command line `-DCMAKE_DEBUG_POSTFIX=""`, in terms of `build.py` script it will be `--fwd CMAKE_DEBUG_POSTFIX=""`

[2016-03-07 18:21] novocodev opened #68 "Conditional cmake configuration based on toolchain"
What is best practice to configure cmake conditionally based on toolchain, it looks like 'POLLY_TOOLCHAIN_TAG' might be the way to go?

e.g. I only want to set target property 'XCODE_ATTRIBUTE_ENABLE_BITCODE YES' when using any of the iOS toolchains.

[2016-03-08 08:23] ruslo commented on #68
`*_TAG` it's atavism, used nowhere now in fact.

All iOS toolchains set variable `IOS` so you can check `if(IOS)`. Also as far as I know `XCODE_ATTRIBUTE_ENABLE_BITCODE` ignored for non Xcode generators so it's okay to set this property unconditionally.

[2016-03-08 10:39] novocodev commented on #68
If I use --toolchain xcode then I get the following error, which suggest bit code is only supported on IOS.

[code]

[2016-03-08 10:43] ruslo commented on #68
Thanks for sharing this information. It mean that `if(IOS)` should be used.

[2016-03-09 12:03] novocodev commented on #68
Using if(IOS) is works, thanks.

[2016-03-09 12:03] #68 closed

[2016-03-09 12:04] novocodev commented on #66
Both iOS and OSX framework builds are working, thanks.

[2016-03-09 12:04] #66 closed

[2016-03-09 13:11] novocodev opened #69 "Is it possible to run tests against lib binary"
I have a project that uses polly to build a library for iOS and OSX, I have added unit tests via ctest which executes a class that uses GTest

I have one question, I have to add all the library source files to the runUnitTest exe definition.

e.g. I have added the following to my to level CMakeLists.txt

[code]

Is there a way force the library to build and link to it rather than pull in all the l

[2016-03-09 13:48] novocodev commented on #69
For Unit Tests accessing private library functions makes sense so pulling in the lib source is maybe not so bad.

I would still be interested to know if there are alternatives to just adding the lib source to the unit test executable.

[2016-03-10 04:50] ruslo commented on #69
So in fact we are talking about OSX only according to the configuration I see.

That is something strange. This is a usual way to work.

[2016-03-11 17:15] novocodev opened #70 "ios-9-2 toolchain failure"
I had been building a framework for iOS without error using:

[code]

I have been adding unit tests and I upgraded Boost to 1.60.0, I did this while building the framework for Xcode toolchain without error.

On going back to build with the iOS-9-2 toolchain the build now fails, I have Xcode 7.2.1 installed and it appears I am seeing the [following issue](https://forums.developer.apple.com/thread/2

[2016-03-11 18:47] novocodev commented on #70
I tried building with '--framework-device' to skip simulator target but the same error persists.

[2016-03-11 23:15] novocodev commented on #70
I have updated to latest hunter and polly and CMake 3.5.0

I have tried the new --ios command line options, not sure if they should be used instead of or in conjunction with the --framework option e.g.

[code]

I'm still getting the same error for the iOS toolchain with all permutations.

[2016-03-12 06:11] ruslo commented on #70
This error is about simulator as far as I can see. You're trying to build simulator + device?

You can't do it in CMake code. Flags should be added to build step. So you can call build step without `build.py` wrapper like `cmake --build _builds -- -sdk iphonesimulator ...` or I can add extra option to `build.py`, like [--iossim](https://github.com/ruslo/polly/blob/9a85b9190f413b667942c27ee1f36600d

[2016-03-19 13:45] ruslo commented on #49
Probably extending CMake is a better idea:
* https://github.com/ruslo/CMake/issues/3

[2016-03-19 14:57] novocodev commented on #70
I have been unable to resolve this issue using any of the suggested fixes in various Q/A threads.

But today the issue has gone away!

I think upgrading to hunter 0.14.1 was the solution.

I had also gone back to a point in my git commit history where the iOS build was working and then gone back to HEAD on master.

Closing this out, if I experience the error again I'll open a new ticket.

[2016-03-19 15:06] ruslo commented on #70
Cool, good to know.

[2016-03-19 15:06] #70 closed

[2016-04-11 13:15] xpol opened #73 "Little suggestion: rename build.py to polly"
How about rename `build.py` to `polly`?

[2016-04-11 14:43] ruslo commented on #73
Yes, I think it make sense. Does it conflicts with some other tools? For example if there will be two scripts `build.py` and `polly.py` will it solve problem? Also I can't run script without extension on Windows, so it should be `polly.py` instead of just `polly`.

@headupinclouds What do you think?

[2016-04-11 14:55] headupinclouds commented on #73
:+1: I like the suggestion.  I'm also in favor of maintaining both build.py and polly.py initially to allow some time for transition.

[2016-04-12 00:06] xpol commented on #73
Maybe just shell scripts `polly.bat` and `polly` which runs polly.py (or
build.py).
David Hirvonen <notifications@github.com>于2016年4月11日 周一22:55写道：

[2016-04-14 07:07] ruslo commented on #73
Okay, let it be `polly.bat` calling `polly.py` on Windows; `polly` shell script for calling `polly.py` on *nix; and `build.py` call `polly.py` for backward compatibility.

@xpol Feel free to work on this one and send me pull request.

[2016-04-14 08:35] xpol commented on #73
#75 added.

The maybe we don't needs `polly.py`. just move it to `polly` ?

[2016-04-14 22:39] ruslo commented on #73
Symmetry looks nicely :)

[2016-04-16 16:12] alamaison opened #76 "ninja-vs-12-2013-win64 toolchain uses GCC"
When using the ninja-vs-12-2013-win64 toolchain, CMake uses GCC rather than MSVC.  Looking at build.py, it seems like it tries to use the vs envinronment
[code]
but I don't know if that's intended to get Ninja to use the correct compiler.

Here is the head of the log:
[code]

[2016-04-16 19:35] ruslo commented on #76
I've commited fix to branch `develop`, please try it.

[2016-04-16 21:25] alamaison commented on #76
Thanks for the fix.  I've tested it and it solves the problem.  The correct compiler is now picked up by CMake.  I'm encountering other problems, but I think they are unrelated.

[2016-04-16 21:25] #76 closed

[2016-04-20 02:45] xpol commented on #20
Yes, Its really needed.
generate the top *.cmake files base on some templates and a list of tool chain names.

[2016-04-20 09:38] ruslo commented on #20
Just for the record the goal doesn't changed but I think about another implementation approach:

One of the criterion - toolchains used in AppVeyor/Travis CI testing. There can't be 25000 rows in testing matrix hence there will not be 25000 toolchains in Polly. Of course user can generate by himself any number of extra toolchains he needed.

I'm planning to try it in CMake experimental fork. Will

[2016-05-20 07:12] hungbv opened #80 "iOS version not found"
Hi ruslo!, thank you for your great project.
Currently, I'm working on Xcode 7.3. and I can only build when I choose iOS version is 9.3. when I build with other iOS version, errors will appear

result:
iOS version `8.0` not found (64)
CMake Error at /Users/hungbv/Desktop/polly/utilities/polly_fatal_error.cmake:10 (message):
Call Stack (most recent call first):
  /Users/hungbv/Desktop/polly/os/ipho

[2016-05-20 07:42] ruslo commented on #80
Do you have iOS 8.0 SDK installed? See the table for mapping "Xcode version - iOS default SDK version" from wiki: https://github.com/ruslo/polly/wiki/Toolchain-list#ios However if you only need to have a minimum deployment target set to `8.0` you can create toolchain `ios-9-3-dep-8-0` with `set(IOS_DEPLOYMENT_SDK_VERSION 8.0)`. Take a look at example: https://github.com/ruslo/polly/blob/master/ios

[2016-05-20 08:17] hungbv commented on #80
oh, I found that I didn't install iOS 8.0 SDK yet. thank you :)

[2016-05-20 08:30] ruslo commented on #80
Are you installing iOS 8.0 to Xcode 7.3 root? I'm not sure if it will work. Never tried it in fact.

[2016-05-20 08:30] ruslo commented on #80
Let me know what happens :)

[2016-06-02 02:43] hungbv commented on #80
Sorry, I haven't tried it yet. Network in my place was too slow. I used iOS 9.3 version, and then I reconfigure a little bit on my Xcode project :)

[2016-06-03 14:26] yowidin opened #81 "Verbosity levels"
Currently the polly script either compiles everything silently or prints way too much information.

With the `--verbose` flag the `generate_command.append('-DCMAKE_VERBOSE_MAKEFILE=ON')` command within the polly.py script makes build output almost unreadable: it is very hard to notice any compiler warnings and errors while building. Of course you could simply pass a `--fwd CMAKE_VERBOSE_MAKEFILE=O

[2016-06-03 20:30] ruslo commented on #81
seems good for me, feel free to send pull request

[2016-06-06 13:44] #81 closed

[2016-06-13 10:25] yowidin opened #85 "Android toolchain breaks ExternalProject_Add behaviour"
`ExternalProject_Add` command heavily depends on the `find_package` command in order to find SVN,  GIT, and other applications. But the android toolchain explicitly sets the `find_program` behaviour to ignore host applications with the following command `set( CMAKE_FIND_ROOT_PATH_MODE_PROGRAM ONLY )`.

This leads to the following error `error: could not find svn for checkout ${name}`

According to

[2016-06-14 05:39] ruslo commented on #85
I think in this case `find_program` will find `arm` executables which can't be run on `x86` hosts. I think you just need to modify [CMAKE_FIND_ROOT_PATH](https://cmake.org/cmake/help/latest/variable/CMAKE_FIND_ROOT_PATH.html) variable so it contain path to git, svn etc.

[2016-06-14 07:07] yowidin commented on #85
Well, [this](https://github.com/ruslo/polly/blob/master/os/android.toolchain.cmake#L1532) line overwrites the default search paths and then disables system executables [here](https://github.com/ruslo/polly/blob/master/os/android.toolchain.cmake#L1535). So now as a developer I either have to fill `CMAKE_FIND_ROOT_PATH` manually with all the possible search locations or forward paths to all the bina

[2016-06-14 13:56] ruslo commented on #85
actually this may indicate potential problems in other toolchains

if they will be found. in case you have `arm` `svn` in `SYSTEM_ROOT` and no `x86` `svn` then `arm` version will be found. In case you have `ONLY` you'll get error.

I think this is the root of the issue. @yowidin Can you try to modify this place so it will be `list(APPEND ...)` instead of `set(...)`?

[2016-06-14 14:35] yowidin commented on #85
No, I tried and it doesn't help. According to the `find_program` documentation:

So only android executables are taken into account.

[2016-06-14 15:55] ruslo commented on #85
Okay, seems that for android you need to use `find_host_package(Subversion)`. I think putting this code before any `ExternalProject_Add` will do the trick:
[code]

I think the problem is a little bit wider than just Android toolchain. There are some really important stuff missing in CMake itself (multiple toolchains/root).

[2016-06-15 07:51] yowidin commented on #85
I personally prefer to keep my CMake files platform-independent so I just built in the following test in my code:
[code]

Also I tried to remove the `CMAKE_FIND_ROOT_PATH_MODE_PROGRAM` line from the android toolchain and everything worked as expected.

I really cannot imagine any case where current behaviour would be appropriate. All the required binaries for the toolchain itself are set within th

[2016-06-15 16:41] ruslo commented on #85
`find_package(Subversion)` should not behave the same way as `find_package(OpenSSL)` for example. You have to explain somehow that you need SVN on **host** and you need OpenSSL for **target**. I.e. you need x86 SVN binary and arm OpenSSL libraries. In terms of Android toolchain you have to call `find_host_package(Subversion)` and `find_package(OpenSSL)`.

Make no sense and will break OpenCV build:

[2016-06-15 17:02] yowidin commented on #85
Whats why the `ONLY_CMAKE_FIND_ROOT_PATH` variable exists.

In case if your library needs a **host** binary it calls `find_package(Subversion)`  or `find_package(Subversion NO_CMAKE_FIND_ROOT_PATH)` either is fine in case if the `CMAKE_FIND_ROOT_PATH_MODE_PROGRAM` variable isn't set.

In case if your toolchain needs **target** binary or library it should use `find_package(OpenSSL ONLY_CMAKE_FIND_R

[2016-06-15 17:25] ruslo commented on #85
in a lot of cases finding system OpenSSL is quite fine. as far as I understand this command will not check default system paths.

that is why I said that this functionality is missing from CMake (at least is not clear to me).

in general I'm not planning to make such critical changes since I want it work as close to OpenCV as possible, so we can avoid fixing non-trivial bugs. if you want to discus

[2016-07-10 22:22] fire opened #90 "Add Ninja Visual Studio 14 2015 toolchain"
See commit in https://github.com/fire-hunter/polly/commit/56ac165defd3c2d7c142356d71767932a0a33ef4

[2016-07-11 11:56] ruslo commented on #90
cherry picked: https://github.com/ruslo/polly/commit/9d580575045982ad6165e6dd95d336c3b3456da2

[2016-07-11 11:56] #90 closed

[2016-07-13 15:04] headupinclouds opened #91 "add a doxygen flag"
Add a --doxygen flag assuming CMakeLists.txt contains something like the following example:

[Doxygen example](https://tty1.net/blog/2014/cmake-doxygen_en.html)

`${CMAKE_ROOT_DIR}/CMakeLists.txt`
[code]

`${CMAKE_ROOT_DIR}/doc/Doxyfile.in`
[code]

I can add this if there are no objections.

[2016-07-13 21:33] ruslo commented on #91
What exactly this flag do?

[2016-07-13 23:01] headupinclouds commented on #91
It would simply support calling a `make doc` target.  I see there is already a generic `--target` option, so I guess this could be called through polly after building.  This is probably better since there is no CMake specific convention regarding documentation targets.  Going to close this.

[2016-07-13 23:01] #91 closed

[2016-07-14 09:19] ruslo commented on #91
Ok, just for your info: https://github.com/ruslo/CGold/issues/1

[2016-07-28 07:58] ruslo commented on #85
Hope this helps. Let me know if you have any further questions.

[2016-07-28 07:58] #85 closed

[2016-07-28 07:59] #73 closed

[2016-07-28 08:00] #69 closed

[2016-07-28 08:01] ruslo commented on #59
Feel free to reopen on any updates.

[2016-07-28 08:01] #59 closed

[2016-07-28 08:02] ruslo commented on #80
Feel free to reopen on any updates.

[2016-07-28 08:02] #80 closed

[2016-07-31 01:49] headupinclouds opened #92 "include what you use"
An interesting clang header analyzer I wasn't aware of until now:

https://github.com/include-what-you-use/include-what-you-use

http://stackoverflow.com/a/30951493
http://stackoverflow.com/a/31086619

Migrated from ruslo/hunter#457

[2016-09-04 03:05] yuangu opened #98 "请问一下，这个东西怎么用？"
看了很久的文档，还是不明白这东西怎么用？有没有更详细的文档，一步一步的教我们使用它啊？

[2016-09-04 11:40] ruslo commented on #98
The question is too broad, what is the end goal?

[2016-09-04 13:14] yuangu commented on #98
如果要有一点图片就好了。

[2016-09-05 18:10] ruslo commented on #98
Sorry, I'm not sure I understand how I can help. Also can we please switch to english? :smile:

[2016-09-06 14:43] yuangu commented on #98
Sorry for my poor english at first。I read your  document again and again. But,  I still unkown how to use it。so , can you make same pic  or same text  step by  step touch us. Sorry for my poor english at last.

[2016-09-06 14:54] ruslo commented on #98
I'm planning to improve documentation but it will not happen immediately. Your question is too broad, there are too many toolchains. What platform are you trying to use? Do you know what is CMake toolchain?

[2016-09-07 03:27] yuangu commented on #98
en ,here is a example(more info go to :https://github.com/gameplay3d/GamePlay-deps):

For arm architecture:

$ cd GamePlay-deps
$ mkdir build
$ cd build
$ cmake -DCMAKE_TOOLCHAIN_FILE=../cmake/ios.toolchain.cmake -DIOS_PLATFORM=OS ..
$ make install
For x86 we change the IOS_PLATFORM flag:

$ cmake -DCMAKE_TOOLCHAIN_FILE=../cmake/ios.toolchain.cmake -DIOS_PLATFORM=SIMULATOR ..

[2016-09-07 04:11] ruslo commented on #98
You should ask the developers of `gameplay3d` how to use their products. Since they are using custom iOS toolchain it works not the same way as Polly iOS toolchains: there is no `IOS_PLATFORM` flag in Polly since both device and simulator architectures built simultaneously.

[2016-09-15 19:36] bhack commented on #4
:+1:

[2016-09-16 06:05] ruslo commented on #4
@bhack you can use [reactions](https://help.github.com/articles/about-discussions-in-issues-and-pull-requests/#reacting-to-ideas-in-issues-and-pull-requests) to express +1

[2016-09-16 08:39] bhack commented on #4
Yes I know but reactions are not available in the mobile view. I hope that Github will let to have that available also on mobile view.

[2016-09-19 14:21] #98 closed

[2016-10-06 08:50] joeced opened #102 "XCode 8 and iOS 10 Support"
I recently updated to XCode 8 and the iOS 10 SDK. I have been using the `ios-9-3.cmake` toolchain with great success. I have tried to copy it to a new toolchain file, `ios-10-0.cmake`, updating `set(IOS_SDK_VERSION 10.0)`. Unfortunately, this is not enough. I get the error message below when running `cmake -GXcode -DCMAKE_TOOLCHAIN_FILE=polly/ios-10-0.cmake`:

As one can see XCode now requires a d

[2016-10-06 14:15] joeced commented on #102
I think I have found a solution, adding

[code]

If one can find the Developer Team ID automatically it would be very nice.

[2016-10-10 12:41] ruslo commented on #102
@joeced Thanks for the info. I have not installed Xcode 8 yet. Will take a look later.

[2016-10-10 17:49] lucmichalski commented on #102
Awesome, works like a charm :-) thanks guys !

[2016-10-10 18:20] joeced commented on #102
@ruslo Great. If you have any ideas on either finding Developer Team ID automatically or "just" use a variable to define, I'll be happy to make a pull request.

[2016-10-27 15:01] reasonMix commented on #102
@joeced there is a stupid method, i modify the ios-10-0.cmake,and add the following lines:
set(CMAKE_C_COMPILER_FORCED TRUE)
set(CMAKE_CXX_COMPILER_FORCED TRUE)
to ignore the compile the simple c program

[2016-10-28 02:49] ruslo commented on #102
Just for your info this will break Hunter builds: https://github.com/ruslo/hunter/wiki/error.abi.detection.failure

[2016-10-28 15:51] headupinclouds commented on #102
For reference: http://stackoverflow.com/a/18727947

[2016-10-28 18:53] headupinclouds commented on #102
Per @joeced, adding the `CMAKE_XCODE_ATTRIBUTE_DEVELOPMENT_TEAM` variable to the toolchain fixes the issue.  What convention shall we use for polly toolchains?  Environment variable?

[code]

[2016-10-28 18:59] joeced commented on #102
@headupinclouds I think that looks like a nice solution, and matches the pattern use in other toolchain files.

[2016-10-29 07:46] ruslo commented on #102
Human-readable name of the team is appropriate too. For example this works for me:

[code]

[2016-10-29 11:48] ruslo commented on #102
Can't find anything :(

Yes, seems like an appropriate solution. Implemented in `master`:
* https://github.com/ruslo/polly/commit/7cf106526ead721140790f8bc2fd5f8ccccf3958

Documentation:
* https://polly.readthedocs.io/en/latest/toolchains/ios/errors/polly_ios_development_team.html

[2016-10-29 11:48] #102 closed

[2016-10-29 15:45] headupinclouds commented on #102
Thanks!

[2016-10-31 06:54] joeced commented on #102
Great! Thanks.

[2016-11-01 06:45] xsacha opened #106 "Clang cross toolchain"
Since you can cross compile just about anything with a host clang, why not add a toolchain for this?

[2016-11-01 09:24] ruslo commented on #106
Not sure I understand the question. There are already `libcxx` and `clang-libstdcxx` toolchains.

[2016-11-01 09:41] xsacha commented on #106
I would like something similar to compiler/gcc-cross-compiler.cmake but for clang. Just setting a variable for sysroot, etc. It just seems strange there's no toolchain for clang cross compiling.

[2016-11-01 09:48] ruslo commented on #106
Looks like nobody using/need it, see nothing strange about it :)

Feel free to add one.

[2016-11-05 14:24] headupinclouds commented on #106
I was previously interested in building shared libraries for Linux distributions from an OS X host (Apple HW being required for iOS).  I'm not sure if that is possible.  @xsacha Do you have any thoughts?  Here are some high level cross compilation pages I found for reference:

http://clang.llvm.org/docs/CrossCompilation.html
http://llvm.org/docs/HowToCrossCompileLLVM.html

[2016-11-06 03:25] ruslo commented on #106
I think I post the question on stackoverflow but looks like I delete it because of no response and no interest in further investigation.

[2016-11-17 07:14] headupinclouds commented on #106
Related: https://github.com/ruslo/polly/issues/27

[2016-11-19 10:10] lygstate opened #107 "Why unset EFFECTIVE_PLATFORM_NAME"
"-DTINYUNIT_TEST_CMD=$<TARGET_FILE:${TINYUNIT_TEST_TARGET_NAME}>"
This would result

[code]

[2016-11-19 11:45] ruslo commented on #107
This is quite uninformative report :) Can you please provide more details about the problem? Thanks.

[2016-11-21 16:33] lygstate commented on #107
How to choose -- [polly] Used toolchain: iOS 10.1 Universal (iphoneos + iphonesimulator) / clang / No code sign / c++11 support

iphonesimulator?
I want to building for iphonesimulator, how to do that.

[2016-11-21 16:34] lygstate commented on #107
I means in command line.

[2016-11-22 02:30] ruslo commented on #107
`polly.py --iossim` will build simulator with i386 architecture (see `polly.py --help`).

[2016-11-24 07:18] lygstate commented on #107
OK now I know how to do it directly in c/c++

[2016-11-29 16:40] gelldur commented on #102
Error still occurs?
[code]

[2016-11-30 02:29] xsacha opened #110 "Single toolchain for Android platform"
Instead of having a toolchain for every ABI, NDK version and API combination of Android, why not have a file that requires an environment variable to be set specifying the versions?

I use this myself because I can never end up with the same NDK versions. I'm not even sure why that exists at all.

Like this:
[code]

[2016-11-30 03:23] ruslo commented on #110
How
[code]
is better than just
[code]
?

[2016-11-30 03:33] ruslo commented on #102
@gelldur are you sure everything okay with provisioning profiles? Can you try to start Xcode and build/run trivial example on your device? (without CMake and without Polly)

[2016-11-30 03:42] xsacha commented on #110
When you are targeting API 24 or using NDK 13 or any other combination (there are 100s).

[2016-11-30 04:02] ruslo commented on #110
You're using all 1000 variants? Combinatorial explosion discussed [here](https://github.com/ruslo/polly/issues/20) and solution is out of scope of Polly functional (though I'm not 100% sure what it will looks like). For now workaround is to add only toolchains that you're **really** using.

[2016-11-30 05:29] xsacha commented on #110
So every time I update my NDK, I should create new toolchains for every ABI I target (eg. armeabi-v7a, armeabi-v7a with NEON, arm64-v8a, x86_64)? Should I also commit it?
I have a machine with r13 and another with r13b.

[2016-11-30 05:45] ruslo commented on #110
Just like every time iOS version changed (`ios-*`), Visual Studio generator released (`vs-*`), OSX upgrade (`osx-*`), etc.

You mean send pull request? Yes, if you want :)

It's a topic for separate discussion.

[2016-11-30 08:58] gelldur commented on #102
@ruslo the same with example

[2016-11-30 09:09] ruslo commented on #102
@gelldur what is the version of Polly you're using? Probably you need to update: `git pull`?

[2016-11-30 09:10] gelldur commented on #102
@ruslo  yesterday i downloaded master

[2016-11-30 10:39] ruslo commented on #102
@gelldur can you show the minimal example to reproduce the problem? Does error occur for this one:
[code]
?

[2016-11-30 23:36] gelldur commented on #102
CMakeLists.txt:
[code]

I used: `cmake -DCMAKE_TOOLCHAIN_FILE=~/Desktop/polly/ios-10-1.cmake -G Xcode ..` without toolchain it works but this isn't what we want :(

[2016-12-01 04:33] ruslo commented on #102
@gelldur `test` is not a good name for project/target. Just to be sure try another names.

[2016-12-01 04:50] reasonMix commented on #102
@gelldur use xcode to create a simple project for ios,and the bundle id is com.example, and check the auto option,then xcode will auto download the  provisioning profiles, when compile success, close xcode ,then use the polly to build your's projuect

[2016-12-01 05:23] ruslo commented on #102
@reasonMix Already checked as far as I understand

@gelldur I can reproduce similar error by providing incorrect team-id. Can you verify that team-id is correct? Here is the guide:
* http://polly.readthedocs.io/en/latest/toolchains/ios/errors/polly_ios_development_team.html

Also I haven't updated Xcode yet, just for your information I'm using Xcode 8.0 and iOS 10.0 SDK.

[2016-12-01 05:34] joeced commented on #102
I use Xcode 8.0 and iOS 10.1 SDK, and it works fine for me.

[2016-12-01 12:02] gelldur commented on #102
I have changed CMakeLists.txt:
[code]

I have checked my team id twice.

----

After creating Example project with `com.example` test script pass :) thx @reasonMix !
So now i am able to run cmake with toolchain.
----

Currently i have only problem with not found static libs. Simply build dirs are empty. I figure it out that using cocoapods workspace (after `pod install`) breaks it. So i simply go

[2016-12-01 12:11] ruslo commented on #102
Added by Polly here:
* https://github.com/ruslo/polly/blob/73302a08320f5a991a599b9e170c61c68a40640b/ios-10-1.cmake#L28

Please open separate issue if the problem is not about team-id. And if the problem is about Polly of course :)

[2016-12-01 22:55] gelldur commented on #102
Ok now everything ok. Important note is that project MUST BE created next to top level CMakeLists to prevent such bugs... also i reset to default build paths for all submodules. Thx for help!

[2016-12-02 02:39] ruslo commented on #102
What do you mean? Your top level CMakeLists.txt doesn't contain `project` command?

@gelldur Can you summarize what was the problem exactly and the solution? This may be helpful for other developers. This info can be saved to `Errors` section: http://polly.readthedocs.io/en/latest/toolchains/ios.html#errors

[2016-12-03 12:27] gelldur commented on #102
Normally when you create project simply you do:

[code]

In my case when i do it in this way i have a lot of errors. Ok maybe not errors but sometimes subprojects do not build etc.

i just must execute `cmake .` and now installing `pods` etc works correctly.

My top level CMakeLists.txt  contains project. On linux / android everything is working correctly

[2016-12-03 12:44] ruslo commented on #102
@gelldur You mean `cmake -DCMAKE_TOOLCHAIN_FILE=/.../ios.cmake -GXcode ..` right?

In source build?

Probably issue is masked by some factor on such platforms but on iOS it triggers real errors.

[2016-12-03 13:02] gelldur commented on #102
yeah cmake.. was only shortcut ;) for whole command.

I have such order:
[code]

[2016-12-06 03:00] #107 closed

[2016-12-07 13:03] ruslo opened #113 "CMake 3.8.0"
* Remove https://github.com/ruslo/polly/blob/c5ad5eb3055109cea4c869820651756227d0f566/flags/sanitize_address.cmake#L70-L73
* https://gitlab.kitware.com/cmake/cmake/merge_requests/140

[2016-12-10 18:43] magick777 commented on #106
@xsacha I'm thinking aloud here, not done it yet, but [libfloor](https://github.com/a2flo/floor) has a good assortment of clang-based cross compilers (pitched mostly at GPGPU computing, but it should be possible to add other targets).

New to polly so not sure yet how much work it will (or won't) be to use polly to manage a load of third-party toolchains, it's more musing aloud than clear suggesti

[2016-12-12 01:33] xsacha commented on #110
Since r13, the NDK version can be detected by reading the $ANDROID_NDK/.source.properties file. This is how the Android NDK toolchain does it too.
This should help remove one combination in future at least.
They could be named like so: android-ndk-r13+-api-21-mips

[2016-12-12 03:31] headupinclouds commented on #106
@magick777 :  👍 Thanks for the libfloor reference.  (I suppose this is slightly off topic for the original post, but I have been looking for something exactly like this.)

[2016-12-20 17:22] ruslo commented on #110
I guess this will not work for the cases when we need to have both `r13x` and `r13y` on the same machine.

[2017-01-05 12:34] anylain opened #115 "How to change IPHONEOS_ARCHS and IPHONESIMULATOR_ARCHS value without modified polly source code ?"
Hi, I'm green hand for cmake and polly. Very grateful to the development of polly such a good tool.

Recently in use, I encountered a problem, please take the time to guide.

When I use polly compile ios project, I hope to compile a fat lib for "arm7; arm64; x86_64"

I try to add parameters to the compile command
[code]

But does not work, the compiler is still trying to compile `armv7s`
I then tr

[2017-01-05 13:06] ruslo commented on #115
They will be overwritten by toolchain, this is why it's not working for you.

You have to create separate toolchain if the default one doesn't fit your needs. For example take a look at `ios-9-0-i386-armv7` vs `ios-9-0-armv7`:
* https://github.com/ruslo/polly/blob/master/ios-9-0-i386-armv7.cmake
* https://github.com/ruslo/polly/blob/master/ios-9-0-armv7.cmake

Just for your information this approa

[2017-01-06 06:35] #115 closed, assigned to nobody

[2017-01-20 20:08] headupinclouds commented on #102
This post :point_up: from @reasonMix helped me get through an error on a new OS X + Xcode 8 installation.  It seems the process of creating a project "manually" has some side-effect that is required for CMake builds to work.  ENV = { Xcode 8.2, OS X 10.12.2; Cmake = 3.7.2 }.

[2017-01-21 08:41] ruslo commented on #102
@headupinclouds Okay, saved to documentation:
* http://polly.readthedocs.io/en/latest/toolchains/ios/errors/signing-request-development-team.html

@reasonMix thanks for sharing

[2017-02-10 13:32] roscopecoltran opened #123 "universal librairies for native plugins for Unity3D"
Hi,

I could find a flag for universal/combined libraries for iOS but for MacOSX builds, how is it possible to lipo  flat libraries with i386/x86_64  and maybe rename the final output library filename for some platforms ?

On a wider spectrum, here is a quick overview of the goal:

## **Goals:**

## **What ?**
Add/Import in some way this script into polly for continuous integration of Unity3D nati

[2017-02-10 14:34] ruslo commented on #123
Are we talking about Xcode? For iOS there is `CMAKE_XCODE_ATTRIBUTE_ONLY_ACTIVE_ARCH`, if there is similar property for MacOSX then building i386 + x86_64 is a trivial task, no need extra lipo step or anything.

`--framework` wrap dynamic/static library into `*.framework`. I don't know the details of OpenCV framework creation, but I think the version from Polly is simplier.

For iOS see `--ios-mul

[2017-02-10 15:12] roscopecoltran commented on #123
Yes, with hunter it would be great too, I guess we need to create new function for mapping extension libs and install directories per platforms.

Any hints about how to manage the mapping of outputs per platforms (toolchains name are different than the platforms names expected by Unity3D), copy files in a separate install prefix folder (eg. PROJECT_UNITY3D_PLUGINS_PREFIX). I guess it would be in a

[2017-02-10 19:12] ruslo commented on #123
I don't know all the Unity3D details but usually you only need to just install headers/libraries. Management of directories per each platform is a Hunter responsibility, see `toolchain-id`:
* https://docs.hunter.sh/en/latest/overview/customization/toolchain-id.html

You can write such CMakeLists.txt code:
[code]

I'm not sure is it related to what you asking for but just for your information:
* ht

[2017-03-23 15:02] AlexanderDalshov opened #129 "Licence code"
there is no code license in you project
could u please add it

[2017-03-23 15:09] ruslo commented on #129
It's here:
* https://github.com/ruslo/polly/blob/master/LICENSE

You can find the link in the sectiion with information:
![polly-license](https://cloud.githubusercontent.com/assets/4346993/24254368/b53b9504-101d-11e7-9f72-1a94535a509b.png)

[2017-03-24 07:51] #129 closed

[2017-03-27 21:04] piribes opened #130 "How to use clang other than that provided by Apple?"
Hi, is there a way to use Polly to generate a build using clang in /opt/local/ instead of that provided by Xcode?

[2017-03-28 07:21] ruslo commented on #130
Check that `which clang++` returns `/opt/local/clang++`, in this case you can use `libcxx` toolchain (`clang++ -std=c++11 -stdlib=libc++`). Also since you're on OSX Polly will check which SDK is default in Xcode and add corresponding `CMAKE_OSX_SYSROOT` value.

[2017-03-30 00:33] piribes commented on #130
Thank you

[2017-03-30 00:33] #130 closed

[2017-04-04 00:04] xsacha opened #132 "Android toolchains find local includes"
After the CMake 3.7.1+ codepath change for Android toolchains, they all stopped working.
Specifically, it was finding local include paths (/usr/include), which were then finding local arch-specific includes and causing the compilation to fail.
This affects all hunter/polly compiles for Android so I am not sure how anyone has this working. It even affects a fresh install for me.

Anyway, the fix wa

[2017-04-04 03:20] ruslo commented on #132
Just for your info here is an succesful builds of OpenCV/Boost on Travis CI:
* https://travis-ci.org/ingenue/hunter/jobs/217544451
* https://travis-ci.org/ingenue/hunter/jobs/217998884

3rd party management is out of the scope of Polly toolchains. If project with no dependencies works fine with Polly, then Polly is correct. 3rd party management is Hunter responsibility.

We are using standard CMak

[2017-04-06 14:11] ruslo commented on #62
Workaround: https://github.com/ruslo/hunter/issues/298#issuecomment-171387754

[2017-04-11 23:53] gegles opened #134 "Add support for tvOS"
Is there a particular reason why tvOS is not supported by polly? If it's just a case of "nobody had time to do it yet", then I don't mind contributing.

[2017-04-12 02:50] heefan opened #135 "Inquiry: Windows Phone 8.1 / 10, Windows Runtime Support"
Hi Ruslo,
Shall I know does polly support Windows Phone 8.1, Windows Phone 10, UWP and Windows Runtime toolchain?  Thanks. I did not find them out.

[2017-04-12 09:27] ruslo commented on #134
I've never used it, feel free to add. Thanks :)

[2017-04-12 09:29] ruslo commented on #135
There is no such toolchains, never used it. If it's supported by CMake it should be not hard to add.

I even didn't know what it is, sorry :)

[2017-04-12 09:52] heefan commented on #135
No problem.

Microsoft tried to promote `Windows Runtime Component` on Windows 10 and Windows Phone 10, which is called **universal windows platform (UWP)**.  However, in Windows 8.1 and Windows Phone 8.1, they are called **Universal App**, and `Windows Runtime Component` was introduced that time if I am not wrong.  Windows Runtime Component is similar with `.NET framework`.

I have tried to use t

[2017-04-12 10:50] ruslo commented on #135
Well if this doesn't work with CMake it will not work for Polly.

This is something that can be added to Polly.

Not using XCTest too :)

This is something out of scope of Polly as far as I understand. According to [this code](https://github.com/Kitware/CMake/blob/master/Tests/XCTest/CMakeLists.txt) it's not about toolchains.

[2017-05-04 06:31] ruslo commented on #62
Fixed by https://github.com/ruslo/polly/pull/141

[2017-05-04 06:31] #62 closed

[2017-05-04 06:33] #132 closed

[2017-05-04 06:33] #110 closed

[2017-05-04 08:41] jcftang opened #142 "Unicode issues with output to stdout"
This relates to

https://github.com/ruslo/polly/pull/141

After that the above patch, output to stdout still causes an issue with hanging...

[code]

The above was generated from a build that was executed inside a docker container using python 3.4 on centos7.

[2017-05-04 09:33] ruslo commented on #142
How you install it?

[2017-05-04 09:39] jcftang commented on #142
I installed it via the vendor and epel repositories

[2017-05-04 09:46] ruslo commented on #142
I'm not very experienced with CentOS, it would be nice if you give me the exact instructions :) Thanks.

[2017-05-04 09:56] jcftang commented on #142
@ruslo if you have a centos7 vm or container running...

[code]

The above should give you an environment to run cmake and gcc/g++, I have a bunch of other dependencies that I have which I wont paste into above as its not relevant. Hope the above helps.

[2017-05-04 10:25] ruslo commented on #142
It works fine for me.

[code]

[code]

[code]

[code]

[code]

[code]

Working directory with Russian characters:
[code]

Seems that stdout encoding is UTF8:
[code]

[2017-05-04 10:30] ruslo commented on #142
Just for your info I still can't find the way to change the keyboard layout to another language :) I have to copy/paste string from another machine. Any hints welcome.

[2017-05-04 10:37] jcftang commented on #142
May be copy and paste from here?

[code]

Or else I can gist it

[2017-05-04 10:40] ruslo commented on #142
Same test, works fine:
[code]

Try to run this from console:
[code]

[2017-05-04 10:44] jcftang commented on #142
@ruslo the problem exhibits itself when I run the scripts inside a centos7 docker container,...

[code]

[2017-05-04 10:52] ruslo commented on #142
What about
[code]
?

[2017-05-04 10:56] jcftang commented on #142
Doing that gives me an empty value

[code]

[2017-05-04 10:58] ruslo commented on #142
Can you try `export LC_ALL=en_US.UTF-8` and run `polly.py` again.

[2017-05-04 11:03] jcftang commented on #142
setting the LC_ALL environment variable does not help at all

[code]

[2017-05-04 13:37] ruslo commented on #142
I'm running out of ideas. Let's try `replace` strategy, please try [pr.encoding](https://github.com/ruslo/polly/tree/pr.encoding) branch.

I'm still not able to reproduce the error, can you share your docker image? E.g. by https://quay.io/ service.

[2017-05-04 14:47] jcftang commented on #142
@ruslo the branch https://github.com/ruslo/polly/tree/pr.encoding appears to have addressed the hanging, my builds at least succeed. I think its probably safe to merge that PR

[2017-05-04 19:52] ruslo commented on #142
It's merged to `master` now. However I still thinking about reproducing your error. Don't want to move in circles in case this part will change again later for some reason.

[2017-05-05 06:33] jcftang commented on #142
I tend to agree this bug is a bit obscure and hard to reproduce. I can't share my container that I am using to reproduce this. I will see if I can create a test case for you to reproduce if time permits.

[2017-06-01 20:10] ikliashchou commented on #135
The issue with XCTest, iOS support and polly toolchain is the CMAKE_OSX_SYSROOT value.

As per your answer [here](https://cmake.org/pipermail/cmake-developers/2014-September/023121.html) you always set it to "iphoneos", while XCTest unit testing of frameworks is allowed only for simulator. This is why XCTest symbols are not found for x86_64 architecture.

So if you change CMAKE_OSX_SYSROOT to "iph

[2017-06-02 09:16] ruslo commented on #135
@ikliashchou Please open separate issue about XCTest, it's not related to Windows Phone support :)

[2017-06-02 11:00] ikliashchou opened #149 "XCTest support for iOS"
The issue with XCTest, iOS support and polly toolchain is the CMAKE_OSX_SYSROOT value.

It is set to "iphoneos", while XCTest unit testing of frameworks is allowed only for simulator. This is why XCTest symbols are not found for x86_64 architecture when trying to run the test, as all the paths are calculated from /Applications/Xcode.app/Contents/Developer/Platforms/iPhoneOS.platform/....

If you c

[2017-06-03 11:06] ruslo commented on #149
I can run executables from generated Xcode project on simulator even if CMAKE_OSX_SYSROOT set to `iphoneos`.

May be it means the problem is in [FindXCTest](https://cmake.org/cmake/help/latest/module/FindXCTest.html) module? It should find another libraries/there should be an option to find iPhoneSimulator root?

We can use it as a workaround for iOS+simulator only toolchains. However I don't see

[2017-06-05 08:46] ikliashchou commented on #149
Seems to be true. If the test target is added manually from XCode then tests work correctly.

So at the moment I abandoned this approach in favor of manually generated test project and stayed with original polly toolchain.

[2017-06-05 08:46] #149 closed

[2017-06-08 08:36] madmongo1 opened #152 "Error Cross-compiling Hunter Protobuf package using emscripten toolchain"
This is a problem when interoperating Polly and Hunter.

First problem is that after specifying the toolchain:
${POLLY_LOCATION}/polly/emscripten-cxx11.cmake

and calling HunterGate, the first call to hunter_add_package fails, complaining that the following variables are not set:
CMAKE_C_ABI_COMPILED, CMAKE_CXX_ABI_COMPILED

a workaround is to add the following lines after the project() command:

[2017-06-08 09:41] ruslo commented on #152
@pretyman Can you comment on this one?

This one is about mixing toolchains. See this issue, you can find protobuf workaround there:
* https://github.com/ruslo/hunter/issues/495

[2017-06-21 13:49] NeroBurner opened #153 "mingw cross compilation from Linux to Windows"
as mentioned over at hunter https://github.com/ruslo/hunter/pull/846

I don't know where to put this file so I created this issue

contents of `Toolchain-Ubuntu-mingw64.cmake`
[code]

[2017-06-21 14:08] ruslo commented on #153
Looks similar to:
* https://github.com/ruslo/polly/blob/master/compiler/gcc-cross-compile.cmake

I guess you can start with:
* https://github.com/ruslo/polly/blob/master/linux-gcc-x64.cmake

To create `linux-mingw64` toolchain.

[2017-06-21 14:09] ruslo commented on #153
[code]

I think we don't need this if you're using Hunter. `find_package` should never return anything from system if Hunter used, see:
* https://docs.hunter.sh/en/latest/faq/interaction-with-other-package-managers.html

[2017-06-21 14:42] NeroBurner commented on #153
where should I set the windres variable needed for cross-compiling to windows
[code]

[2017-06-21 19:05] ruslo commented on #153
I think it will not hurt if we will add it to the `compiler/gcc-cross-compile.cmake`.

In top `linux-mingw64`.

[2017-06-22 07:42] NeroBurner commented on #153
should we add emulator support?
https://cmake.org/cmake/help/v3.3/variable/CMAKE_CROSSCOMPILING_EMULATOR.html

with this we could run mingw-w64 cross compiled tests with wine64 or armhf targets with qemu

[2017-06-22 08:03] ruslo commented on #153
It will not hurt I guess. Is emulator a part of `mingw-w64` package?

[2017-06-22 08:08] NeroBurner commented on #153
no, it would need an extra emulator installed. And for mingw that would be wine (to run windows binaries)

[2017-06-22 09:25] ruslo commented on #153
In this case we can add `CMAKE_CROSSCOMPILING_EMULATOR` variable but only if it will not return error if emulator not found.

[2017-08-22 00:36] xsacha opened #169 "CHECK_TYPE_SIZE iOS error"
Recently, I have started getting this error when compiling for iOS (architectures: armv7;arm64).
Note: No simulators enabled.

 I haven't tracked down which commit of polly caused it but it seems fairly recent, as in this month or last month.

I get this when compiling dlib right now but it looks like any project causes this.

Have you got any insight as to why this might be happening?
It looks li

[2017-08-22 04:30] ruslo commented on #169
I guess `check_type_size` will work incorrectly if you're using toolchain with combined architectures. For `armv7` + `arm64` size of `long` will be `4` and `8` (I guess, not sure) and can't be determined on CMake configure stage, should be anallyzed at C++ compile stage.

Maybe CMake? Maybe this one: https://github.com/ruslo/polly/commit/b6d9289043a0f2ec60b8b27a1aa229b96a349979?

[2017-08-22 05:14] xsacha commented on #169
I went back to before this commit and still have the issue. I don't believe my version of CMake has ever changed (from 3.8.2) on this machine.
I had been successfully compiling my project with armv7 + arm64 for a while now. I can no longer do this even with an old polly due to this error.

[2017-08-22 05:26] ruslo commented on #169
I don't know what/why is happenning. Try to track down the issue, history of iOS changes is here:
* https://github.com/ruslo/polly/commits/master/os/iphone.cmake

Plus take a look at changes of particular toolchain you're using. If you find the error and it's a valid case then test case can be added to `.travis.yml` to avoid such issues in future.

I guess Hunter URL/SHA1 is locked so it's probabl

[2017-08-22 15:14] MrJman006 opened #170 "Clang Compiler Test Failing For iOS-10-3-armv7.cmake At Master Commit 3e3f903"
I am trying to use the Polly toolchain files to build the weather example (https://github.com/ruslo/weather#mac-ios) for IOS. I follow the directions exactly and get the following error:

    cmake -H. -B_builds -DHUNTER_STATUS_DEBUG=ON -DCMAKE_TOOLCHAIN_FILE=$POLLY_ROOT/ios-10-3-armv7.cmake -GXcode
    -- [hunter *** DEBUG *** 2017-08-22T10:25:35] HUNTER_ROOT detected by environment variable

[2017-08-22 15:16] MrJman006 commented on #170
For simplicity sake, I just tried a bare minimum CMake project

    cmake_minimum_required(VERSION 3.8)
    project(foo)

and get the same error.

[2017-08-22 15:28] ruslo commented on #170
Nothing I can recommend here except fixes from documentation:
* http://polly.readthedocs.io/en/latest/toolchains/ios/errors/signing-request-development-team.html
* http://polly.readthedocs.io/en/latest/toolchains/ios/errors/polly_ios_development_team.html

If you'll find the fix feel free to add it to docs.

[2017-08-31 09:20] joeced commented on #170
I'm working on a fix. You need to set the `MACOSX_BUNDLE_GUI_IDENTIFIER` to something different. For me setting it to `com.<company-name>.example` worked.

@ruslo What I'm considering a is fix of the try-compile introducing a `POLLY_XCODE_BUNDLE_IDENTIFIER` variable that can be set from an environment variable. Does this sound like a reasonable solution?

[2017-08-31 10:23] ruslo commented on #170
@joeced Are you sure that while doing [these steps](http://polly.readthedocs.io/en/latest/toolchains/ios/errors/signing-request-development-team.html) your team-id is the same as you used in `POLLY_IOS_DEVELOPMENT_TEAM`?

[2017-08-31 10:39] joeced commented on #170
@ruslo Yes most definitely. The problem is that we are not allowed to `com.example` as bundle identifer, it will fail with the error:

[code]

If I

[code]

it works!

[2017-08-31 10:50] ruslo commented on #170
Is it a limitation of your provisioning profile?

[2017-08-31 11:44] joeced commented on #170
Step _set the bundle id to com.example_ in [signing-request-development-team](http://polly.readthedocs.io/en/latest/toolchains/ios/errors/signing-request-development-team.html) fails for me.
![xcode screenshot](https://user-images.githubusercontent.com/22655178/29921499-1285e770-8e52-11e7-917a-2c74b989399e.png)
The problem being that another team in my organization used com.example as bundle ident

[2017-08-31 12:26] casz commented on #170
@joeced @ruslo
Checked our appstore and enterprise team and there is no `com.example`
Think the issue properly lies with the fact it is an enterprise account, apple doesn't allows creating bundle identifiers used by other enterprise account.

But it is definitely an issue we see with our enterprise account.

[2017-08-31 13:01] ruslo commented on #170
@joeced No, I'm not sure I undestand that. This stuff is quite opaque to me :) I hope to find clear and simple way to use/set this ID. At this moment iOS toolchains was working for completely unrelated teams and developers.

@casz Can you clarify this? Can we check whom to blame and how to fix/workaround this. Even if `POLLY_IOS_BUNDLE_IDENTIFIER` will be introduced, there is a chance that same is

[2017-08-31 13:30] casz commented on #170
@ruslo I can try.

On enterprise team:
I am not able to generate provisioning profiles for the following.
com.abc
com.bob
com.example
com.cnn
com.starwars

However I am able to type random stuff after those previously blocked
com.asdasjdksdjn
com.abc.helloworld9231
com.starwars.helloworld9231

On our appstore team it is not an issue at all.

Now with the ability to set `POLLY_IOS_BUNDLE_IDENTIFIER

[2017-08-31 13:40] joeced commented on #170
@ruslo @casz A simpler solution would be to change the `set(MACOSX_BUNDLE_GUI_IDENTIFIER com.example.polly)` and then update `ios*.cmake` files to use this, and update the docs. I will gladly provide a pull request for this. Eventually refactoring to extract the `# fix try_compile` part.

[2017-08-31 13:56] ruslo commented on #170
@casz Do you know what is the reason?

@joeced Okay, we can try it.

[2017-08-31 14:19] casz commented on #170
@ruslo other than this error message, no I cannot.
![xcode error](https://user-images.githubusercontent.com/22655178/29921499-1285e770-8e52-11e7-917a-2c74b989399e.png "xcode error")

[2017-09-01 10:33] ruslo commented on #170
Sorry guys I still don't see the **reason** of the failure.

Where is the guarantee that we will not have same error for `com.example.polly`?

[2017-09-01 13:06] casz commented on #170
Nothing, at all.
At least it fixes it for enterprise accounts for now.
I do not see any harm in the PR.

You want us to explain you the inner workings of Xcode and Apple Developer Portal for Enterprise Accounts.
Which I cannot. Sadly, it is closed source.

What gives?

My best guess is there is a slight difference towards how uniqueness is handled on the enterprise distribution for Apple Developer

[2017-09-01 13:16] casz commented on #170
If you want a permanent fix. Let's introduce `POLLY_IOS_BUNDLE_IDENTIFIER` and have it default to the `com.example` or even `com.example.polly` when it is not set.

[2017-09-01 13:20] ruslo commented on #170
Okay, probably this one is better. At least we can be sure that it will not break iOS build for other developers.

[2017-09-01 13:24] ruslo commented on #170
As a sidenote this problem can be fixed in CMake itself by adding no-code-sign logic for iOS internals.

[2017-09-01 13:29] casz commented on #170
Which might be the better solution

[2017-09-07 12:35] ruslo commented on #170
Fixed by https://github.com/ruslo/polly/pull/173

[2017-09-07 12:35] #170 closed

[2017-09-07 13:48] ruslo commented on #102
Step by step document with screenshots:
* http://polly.readthedocs.io/en/latest/toolchains/ios/bundle-id.html

[2017-09-07 13:48] ruslo commented on #170
Step by step document with screenshots:
* http://polly.readthedocs.io/en/latest/toolchains/ios/bundle-id.html

[2017-09-14 00:20] xsacha opened #175 "SwiftModule and -Swift.h ObjC compatibility header not copied to framework"
When building a framework that contains swift code, the generated framework is missing critical files.
When adding the swift code, a Foo-Swift.h file is generated so that Objective-C can call Swift functions. This is usually included in the framework.
Also, the Foo.swiftmodule file is usually included in the framework so you can use the Swift functions directly.

Location of these generated files,

[2017-09-14 00:34] xsacha commented on #169
I'm still not sure why it started happening (Cmake version unchanged, polly version unchanged).
However, I have fixed all of the ones I have found or have PR pending for them.
So this can be closed.

[2017-09-14 00:34] #169 closed

[2017-09-14 08:25] ruslo commented on #175
As I said before, I haven't worked with Swift so can't give any advice here.

[2017-09-24 03:35] xsacha commented on #175
@ruslo That's fine (regarding Swift usage). However, could you give me some pointers in how to find the name of these folders?
I know how to find _builds/ios-toolchain/bin/Release but not sure how to find the name Foo_0_0_0_0 (That is, the soname with version).

Also unsure of how to work out the directory _builds/ios-toolchain/Foo/Bar.build/Release-iphoneos/Bar.build/DerivedSources

If I can get

[2017-09-24 07:03] ruslo commented on #175
I really don't know what all this is about :) The right solution would be to implement all this stuff in CMake itself and see what should go where.

[2017-09-24 07:27] xsacha commented on #175
It already is in CMake and those are the generated files.
Only Polly does iOS frameworks though so I just wanted to know how to calculate those directories so I can copy the relevant files to the framework.

[2017-09-25 12:03] ruslo commented on #175
Actually I think iOS framework creation is fixed in CMake. I see iOS mentioned here:
* https://cmake.org/cmake/help/latest/prop_tgt/FRAMEWORK.html

I've tried simple example and it looks good. Need to try something with complex structure.

@xsacha you can post your question to [CMake bugtracker](https://gitlab.kitware.com/cmake/cmake/issues) in this case.

@headupinclouds +cc

[2017-09-25 18:55] ruslo commented on #175
Works fine.

Don't use `--framework` - use CMake `FRAMEWORK` instead. Closing.

[2017-09-25 18:55] #175 closed

[2017-09-25 22:40] xsacha commented on #175
This is great news, thanks!

[2017-11-03 21:13] Mach1Studios opened #198 "xcode8 ios automatic provisioning"
I keep getting an error asking to turn on Automatic signing by passing:
[code]

I am not sure how to do this via polly/cmake
I have tried many variations, everything works with nocodesign toolchains however with codesign things do not work despite have the Bundle Identifier and TeamID set in environment as well as the correct provisioning setup on apple's side.

[2017-11-09 11:56] ruslo commented on #198
Start with simple trivial project and check all instruction for fixing errors from this page:
* http://polly.readthedocs.io/en/latest/toolchains/ios.html

[2017-11-23 12:02] oliverdaniell opened #204 "Additional C flags required for static-std.cmake to fix behaviour change in CMake"
CMake behavior has changed from version 3.7 to 3.9 with respect to the handling of static libgcc flags.

Building the example below with a toolchain that include /flags/static-std.cmake will cause cmake to add an additional -lgcc_s -lgcc_s to the link line.

    cmake_minimum_required(VERSION 3.0)

    # Project
    project(static_test C CXX)

    add_library(mylib::mylib STATIC IMPORTED)

    set

[2017-11-23 16:53] ruslo commented on #204
https://github.com/ruslo/polly/commit/d5e9165eecff3336dbb7c4fc8f9c56614cc42fa1

[2017-11-23 16:53] #204 closed

[2018-01-07 14:33] ruslo commented on #153
Closing inactive discussion.

[2018-01-07 14:33] #153 closed

[2018-01-07 14:34] ruslo commented on #152
Closing inactive discussion.

[2018-01-07 14:34] #152 closed

[2018-01-07 14:34] ruslo commented on #106
Closing inactive discussion.

[2018-01-07 14:34] #106 closed

[2018-02-13 10:08] robiwano opened #231 "Problem codesigning iOS 11.2 with Xcode 9.2 (9C40b)"
Having setup dev team and been able to compile the TestiOSProject app, I have a project where the CMake configure step fails with:
[code]
The developer certificate has access granted for Xcode, codesign and productbuild and I've (at least tried) unlocked the login.keychain from command line.

Help ?

[2018-02-13 10:13] ruslo commented on #231
Have you tried:
* https://polly.readthedocs.io/en/latest/toolchains/ios/bundle-id.html
* https://polly.readthedocs.io/en/latest/toolchains/ios/errors/polly_ios_development_team.html
* https://polly.readthedocs.io/en/latest/toolchains/ios/errors/polly_ios_bundle_identifier.html

?

[2018-02-13 10:16] robiwano commented on #231
Yup, I've tried all of those :(

[2018-02-13 10:17] ruslo commented on #231
I have no other ideas, if you will find the solution don't forge to share.

[2018-02-13 10:55] robiwano commented on #231
Hmm... I had to build for a "Generic iOS Device" to get the keychain access login prompt for codesign, after that, building from command line works.

[2018-02-13 10:55] #231 closed

[2018-02-13 10:56] robiwano commented on #231
So in essence, I didn't RTFM :(

[2018-04-28 12:40] #198 closed

[2018-05-01 20:42] headupinclouds opened #246 "build details (active)"
Test.

[2018-05-01 20:42] #246 closed

[2018-05-02 01:48] mchiasson commented on #152
I can comment:
[code]

[2018-06-05 14:31] pokey909 opened #255 "reason for clearing IPHONEOS_DEPLOYMENT_TARGET"
polly_clear_environment_vairables.cmake clears the IPHONEOS_DEPLOYMENT_TARGET env var.

Since there is a comment just saying ```# !``` I assume there is a specific reason why we have to unset it. However, this prevents a possible parametrization of the ios toolchain which could include a code path like
[code]

Is there a better way that allows this kind of parametrization to the toolchain via cmak

[2018-06-05 14:59] ruslo commented on #255
I don't remember details (commit was made 5 years ago) but yes, `# !` means the necessity of this change. Originally all of the environment variables from Xcode was cleared but few of them are really playing critical role, like `SDKROOT`:
* https://github.com/ruslo/polly/blob/6140caafd5087c6e7f91d7c7343ac82401c78346/utilities/polly_clear_environment_variables.cmake#L217

Deployment SDK version for

[2018-06-05 21:49] pokey909 commented on #255
I tried passing this variable via ```--fwd IOS_DEPLOYMENT_SDK_VERSION=9.0``` to polly which didn't work. I also tried to set it in a custom ```PreLoad.cmake``` to make sure it gets loaded before the toolchain. But it also did not get propagated.
The only place where I could set it seemed to be hardcoded in the toolchain itself.
This means I need to create another toolchain file for every change to

[2018-06-06 00:31] ruslo commented on #255
This is a know drawback (https://github.com/ruslo/polly/issues/20). I have some ideas but this involve completely new approach and a lot of work. Straightforward workaround at this moment just create another toolchain.

[2018-07-09 04:27] zhouhao27 opened #263 "How to start for iOS?"
I'm planing to compile a C++ library for iOS. Where to start? Is there any tutorial for this? Thanks.

[2018-07-09 07:43] ruslo commented on #263
There is no tutorials, you can find some useful info in this document:
* https://polly.readthedocs.io/en/latest/toolchains/ios.html

[2018-07-09 09:22] zhouhao27 commented on #263
So I should add those flags/variables in CMakeLists.txt for iOS? Or I add the flags at command line when I call cmake?

[2018-07-09 09:34] ruslo commented on #263
This project is a collection of a CMake toolchains. There are toolchains that used to build iOS projects. Toolchain can be set by `-DCMAKE_TOOLCHAIN_FILE=/path/to/toolchain/ios*.cmake` or by `polly.py --toolchain ios*` helper script which is just a wrapper for running CMake.

[2018-07-20 15:34] heshuimu opened #265 "--framework fails on codesign for multiple iPhone Developer certificate"
I joined two development teams and I have two iPhone Developer certificates installed. When I try to export framework for iOS:

[code]

The only way to workaround it is to delete all but one installed certificate. Changing the `CMAKE_XCODE_ATTRIBUTE_CODE_SIGN_IDENTITY` in toolchain cmake file makes the build fail on Cmake Configuration compiler testing.

[2018-07-20 17:37] ruslo commented on #265
Are you using `polly.py --framework`? It's kind of a legacy command, there is no need to use it anymore. You can create iOS frameworks just by setting `FRAMEWORK` property:
[code]

[2018-07-23 15:51] heshuimu commented on #265
Indeed. I'll use the property instead.

[2018-09-01 00:46] tonyrewin opened #274 "ANDROID_NDK_rXX not set"
Actually I can easily say it can be an universal wrapper instead of too many files about android toolchains. Is there a reason to do like this?

And this env var mentioned in the title... it is really should be set every time manually? I've told already to polle anything like this:
[code]

[2018-09-04 22:01] tonyrewin commented on #274
some packages require pre-defined env vars, but ios script is resetting it. https://github.com/ruslo/hunter/issues/1536

[2018-09-05 13:39] ruslo commented on #274
What?

[2018-09-14 06:12] ruslo commented on #255
Closing inactive discussion.

[2018-09-14 06:12] #255 closed

[2018-10-01 20:53] jbzdarkid opened #279 "Build failure on latest XCode (10A255)"
It looks like the latest version of XCode has changed the "MacOSX10.13.sdk" alias to "MacOSX10.14.sdk". At the very least, this should change, but I'm wondering if it should just change to "MacOSX.sdk", which seems to be the base folder?

[2018-10-02 13:47] ruslo commented on #279
Neither `MacOSX10.13.sdk` nor `MacOSX10.14.sdk` is hardcoded in toolchains so I'm not sure what is the problem exactly. Can you provide minimal example to reproduce the issue and all other details like system version, Xcode version, toolchain you're using, etc.

[2018-11-07 00:05] jbzdarkid commented on #279
Specifically, `CMAKE_OSX_DEPLOYMENT_TARGET` is being set in https://github.com/ruslo/polly/blob/master/osx-10-13-make-cxx14.cmake

I can't easily provide a minimal example, but here's my system/xcode version (toolchain is the above):
[code]

[2018-11-07 08:26] #263 closed, assigned to nobody

[2018-11-07 12:13] darbee opened #285 "add support for qnx"
Qnx is a very popular os ,  Now I want to port fast rtps for qnx

[2018-11-07 12:14] ruslo commented on #285
Pull request are welcome

[2018-11-08 00:34] jbzdarkid commented on #279
Ah, I see -- we've only taken your latest release, and that was before this toolchain was out. Are you planning on making a release this year?

[2018-11-08 19:11] jbzdarkid commented on #279
Thank you so much!

[2018-11-08 19:11] #279 closed

[2018-11-17 09:06] rusdevops opened #287 "colorized ouput"
[code]
Help me with your advice, please

[2018-11-17 10:58] ruslo commented on #287
I'm not sure what is the reason of problem, console output instructions are here:
* https://github.com/ruslo/polly/blob/435ac714529f8c30d55bd3cb2a4f2c663962c336/bin/detail/call.py#L19-L50

As a workaround you can generate code with `polly.py --nobuild` and build it using cmake (`cmake --build _builds/...`) or make (`make -C _builds/...`).

[2018-11-17 14:08] rusdevops commented on #287
Polly a good decision to run multiple targets one command. The use of multiple commands not suitable for this philosophy.

[2018-11-18 07:20] rusdevops commented on #287
Before:
[code]
After:
[code]

[2018-11-19 09:19] rusdevops commented on #287
also the CTest tool cuts out the colored output.

[2018-11-19 09:19] #287 closed

[2018-12-14 15:47] phaazon opened #302 "Possible issue with NoCodeSign.xcconfig"
Hey,

I made [a PR](https://github.com/ruslo/polly/pull/300) lately to fix a weird signing issue with the `ios-nocodesign-*` toolchains. While it worked on pretty much all of our CI jobs, one failed when CMake tried to check whether the compiler was okay. I think the problem is due to one extra line in the [NoCodeSign.xcconfig](https://github.com/ruslo/polly/blob/master/scripts/NoCodeSign.xcconfig

[2018-12-14 16:30] ruslo commented on #302
The version before https://github.com/ruslo/polly/pull/300 worked fine for my local machine and on Travis machines. The https://github.com/ruslo/polly/pull/300 patch seems to be fine there too. So it's hard to say :)

[2018-12-14 16:32] ruslo commented on #302
It does make sense to save the error message that you have for the history. What error message was before the https://github.com/ruslo/polly/pull/300 was applied and what error message do you have now?

[2018-12-14 16:42] phaazon commented on #302
Prior to #300, we had the binary on `simulation` signed and we had to manually remove the signature after the build. After #300, we had this:

[code]

[2018-12-14 16:43] phaazon commented on #302
I confirm my patch fixes it. I’ll do another PR if you want.

[2018-12-14 16:59] ruslo commented on #302
Can you post step by step instructions with all details: CMake version, Polly toolchain, Xcode version, log with sign instruction line, the code itself.

[2018-12-17 12:35] phaazon commented on #302
Hello,

I’m not sure what to do with the details since it’s code from work. It’s open-source though so I guess it should be okay. I’m adding @KhalilBellakrid and @pollastri-pierre to the discussion for this purpose.

The failible job can be found [here](https://circleci.com/gh/phaazon/lib-ledger-core/161).

[2018-12-17 12:59] ruslo commented on #302
There is no need to show the whole project, of course only minimal example would be nice to have.

Okay, at least some info :) It's Xcode 10 and we are failing while checking that C compiler is not broken.

[2018-12-17 13:35] phaazon commented on #302
Yes, and I think it’s due to the empty entitlements. I only a few about iOS, so I wrote a `sed` line to fix that in our circle-ci job. I just wanted you to know. :)

[2018-12-19 17:44] ruslo commented on #302
I've added iOS tests to CI: https://github.com/ruslo/polly/commit/b14ab7b3b24865df4a6269a489b042cd027badf9

CMake 3.13.2, `ios-nocodesign-11-4-dep-9-3-armv7`, Xcode 9.4.1:
* https://travis-ci.org/ruslo/polly/jobs/470130472

CMake 3.13.2, `ios-nocodesign-12-1-dep-9-3-armv7`, Xcode 10.1:
* https://travis-ci.org/ruslo/polly/jobs/470130473

I've noticed that you've used this line:

`CMAKE_OSX_ARCHITEC

[2018-12-20 08:57] phaazon commented on #302
Interesting, thanks for your feedback!

[2019-01-25 10:30] Calinou opened #306 ""/usr/bin/ld: cannot find -lc++" when using the clang-lto toolchain file"
I'm trying out Polly on [this repository](https://github.com/trackballs/trackballs) but I'm getting this error on Fedora 29:

[code]

I can reproduce this in other CMake-based projects too.

[2019-03-04 15:16] insufficientchocolate opened #311 "How to reduce Xcodebuild log size?"
CMake use `xcodebuild` to build project, when the generator is `Xcode`.
But xcodebuild is too verbose that build job got terminated ([example](https://travis-ci.org/insufficientchocolate/github-client-cpp/jobs/501461715)) on travis-ci due to exceeding maximum  log lines.

I've tried setting `VERBOSE=0` environment variable, but it doesn't work. I also tried setting `--verbosity` to normal or silen

[2019-03-04 15:39] ruslo commented on #311
`VERBOSE=0` is an option for `jenkins.py` script in Hunter CI:
- https://github.com/ingenue/hunter/blob/0bb72b3fe56335b601f20618c57e01d93804ada4/jenkins.py#L195-L198

`polly.py` will not use it.

Try to experiment with `--discard` and `--tail` options of `polly.py` to find the right balance.

[2019-03-06 12:23] insufficientchocolate commented on #311
Thank you. `--discard` does reduce the log size, and the build pass, but it makes log incomplete. Although the help message says the complete log still available on the log.txt, I am not sure if there's a convenient way to browse or download those files from travis.
 As for `--tail`, the help message says " Print last N lines if build **failed**", so to reduce log size and keep useful information.

[2019-03-08 17:50] ruslo commented on #311
That's what I mean by "find the balance". You should use `--verbose --discard N --tail M` to achieve simultaneously: (1) output something to avoid "No output has been received in the last 10m0s" (2) do not output too much to avoid "The job exceeded the maximum log length" (3) get max info if build failed.

That is the point of losing some information :) Otherwise, you will get "The job exceeded th

[2019-03-09 08:25] insufficientchocolate commented on #311
Oh, I didn't think of that. That should do the trick. Thanks.

Yes, but I was afraid some of the compiler error getting trimmed. Morden compilers usually print out useful information if there's some error, and I was hoping those message can remain intact.
(I know  `--tail` will output complete log if the build failed, so it shouldn't matter.)

[2019-03-09 08:25] #311 closed

[2019-03-26 11:24] ruslo commented on #306
Closing inactive discussion.

[2019-03-26 11:24] #306 closed

[2019-03-26 11:24] ruslo commented on #302
Closing inactive discussion.

[2019-03-26 11:24] #302 closed

[2019-06-06 15:43] olliwang opened #326 "Add support for Apple's Project Catalyst"
Apple introduces Project Catalyst at WWDC 2019 to allows iOS apps running on macOS without heavily modifying the code. The problem is; currently, the toolchains build either iOS/Simulator or macOS libraries. To support Project Catalyst, we need a new toolchain to build fat libraries that include all of iOS, Simulator, and macOS architectures. Is it possible?

[2019-08-25 11:38] ruslo commented on #326
Closing inactive discussion.

[2019-08-25 11:38] #326 closed

[2020-01-30 22:17] DimaRU commented on #326
Example of working toolchain:
[code]

[2021-03-15 21:21] Arcnor opened #357 "Problem with CPack"
Hello,

I've been trying to build an iOS library using Polly & CPack, with the following command line:

[code]

Although the build finishes correctly, CPack cannot find the compiled library because it's looking for it in the wrong path, probably because `EFFECTIVE_PLATFORM_NAME` is not being set. I don't know where that is being set, but it seems to work for everything except CPack. This is the ou

[2021-03-21 11:40] ruslo commented on #357
That's an issue in CMake, Polly is just a wrapper.

Try `--archive` instead of `--pack`.

[2021-03-21 12:43] Arcnor commented on #357
Hi, thanks for your answer!

I understand Polly is a wrapper, but I imagine Polly is also the source of that `EFFECTIVE_PLATFORM_NAME` variable? `--archive` only zips/tar-gzs stuff together, while I need a `cpack` invocation. That seems to work fine except for that variable definition, currently I'm manually adding it and everything works after calling cpack again, but I expect this to be a bug so

[2021-03-22 14:18] Arcnor commented on #357
So it looks like it's not Polly adding that variable, but Xcode, so I'm closing this as there is a CMake issue related to this (https://gitlab.kitware.com/cmake/cmake/-/issues/20023 which seems to have been patched on CMake 3.19.5 but doesn't work for me for some reason).

Thanks again and sorry for the noise.

[2021-03-22 14:18] #357 closed